@charset "UTF-8";

/*font-family: 'Roboto', sans-serif;*/

/* bleu foncé = 1E4084 
Bleu clair = 37D1F3 */


*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    
}

h1 {
    color: white;
    font-size: 5em;
}    
h2{
    color: #1E4084;
    font-size: 3em;
}
h3 {
    color: #37D1F3;
    font-size: 2em;
}
h4{
    font-size: 1.7em;
}
h5{
    font-size: 1.5em;
}
p {
    font-size: 1em;
}


button {
    font-family: 'Roboto', sans-serif;
}

body {
    overflow-x: hidden ;
    max-width: 1920px;
    
}

/* BACK TO TOP */

.btn-back {
    display: none;
    /* filter: drop-shadow(0 0 0.75rem #37D1F3);    */
    /* justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 10; */
}
.btn-back .icone {
    width: 50px;
}

/* header */

header {
height: 120px;
width: 100%;
top: 0;
left: 0;
position: absolute;


}

header .container {

    height: 100%;
    margin: 0 auto;
    padding: 0 auto;
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
    
    
}

.menu a {
     
    font-weight: 500;
    text-decoration:none;
    color: black;
    
}

.menu a:hover {
     
    font-weight: 900;
    
    color: #37D1F3;
    
}

/* banner */

.banner{
    height: 100vh;
    width: 100%;
    background-position:  top;
    background-image: url(img/bg-plastic-large.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin : 0 auto;
    
    
 }

.banner-inside {
    height: 100%;
    margin: 0 auto;
    display : flex;
    flex-direction: column;
    justify-content: space-evenly ;
    
    
}

.banner-inside h1 {
    
    margin-top: -50px;
}


/* section Infos  */

.sect.info{

    height: auto;
    width: auto;
    margin: 0 auto;
    padding: 0 auto;
    display : flex;
    flex-direction: column;
    align-items: center;
    

}


.container.info {

    height: 100%;
    margin: 0px 0px 60px 0px ;
    display : flex;
    flex-direction: row;
    align-items: center;
    
    
    



}

.info-keys {

    height: auto;
    width: 400px;
    margin: 0 auto;
    display : flex;
    flex-direction: column;
    


}

.container.info iframe {

    margin: 0 auto;
   

}
.title-info {

    text-align: center;
    margin: 70px 0px 80px 0px;
    


}

.title-info h2 {

    color:#1E4084
}

.stats {
  
    display : flex;
    flex-direction: column;
    text-align: center;
    
}

.stats .value{

    font-size: 5em;
}

/* section Actions  */

.title-actions h2{

    color:#37D1F3
}

.actions{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin : 0 auto;
    background-color: #1E4084;

}

.carousel{
    justify-items: center;   
    margin : 50px 0 80px 0;
    
}

/* .carousel-caption{
    
    color: ;
    
} */
/* section Agir  */
.agir{
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.agir .col{
    display : flex;
    flex-direction: column;
    align-items: center;
   
}

.card-img-top {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    }

.title-agir {

        text-align: center;
        margin: 70px 0px 80px 0px;
        
    
}
    
.title-agir h2 {
    
        color:#1E4084
}
/* Footer */
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 60px 0 0 0;
}
.footer-partners .label{
    margin: 0px 30px 0px 0px;
}

.footer-reseaux .label{
    margin: 0px 30px 0px 0px;
}

/* séparator */
 #wave1 {

    position: relative;
    margin-top: -3px;
}

#wave2 {

    position: relative;
       
}

#wave3 {

    position: relative;
    margin-top: -3px;
}

/* MEDIA QUERIS */



@media (max-width: 575.98px) { 

   
    header .container .logo {
        transition: 0.5s;
        display: none;
        
    }

    .menu a {
        
        transition: 0.5s;
        font-size: 0.7em;
        font-weight: 500;
        margin: 0 10px;
        
    }
    .banner-inside  {
        
        text-align: center;
    }
    .banner-inside h1 {
        transition: 0.5s;
        font-size: 2.5em;
        margin-top: -100px;
        
    }
    h2 {
        transition: 0.5s;
        font-size: 1.5em;
        
    }
    h3 {
        transition: 0.5s;
        font-size: 1em;
        
    }
    h4{
        transition: 0.5s;
        font-size: 1em;
    }
    h5{
        transition: 0.5s;
        font-size: 0.8em;
    }
    p {
        transition: 0.5s;
        font-size: 0.6em;
    }

    .container.info {

       
        display : flex;
        flex-direction: column;
        align-items: center;
    }

    .container.info iframe {
        margin : 0px 0px 60px 0px;
        width :auto;
        height : auto

    }
    .info-keys{

        width: auto;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        
       
    }
    .footer-reseaux img{
        width: 25px;
        height: 25px;
        
       
    }

    .footer-partners img{
        width: 50px;
        height: 15px;
        
       
    }

    .footer-reseaux::after{

        content:"";
        display: block;
        height: 3px;
        background-size: 10px 100%;
        background-image: linear-gradient(#1E4084, #37D1F3);
        
        
        
    }

    .footer-partners{

        margin-top: 20px;
    }
    
}



@media (min-width: 576px) and (max-width: 767.98px) { 
    
    
    header .container .logo {
        transition: 0.5s;
        scale : 70%
    }
    .menu a {

        transition: 0.5s;
        font-size: 0.7em;
        font-weight: 500;
        margin: 0 10px;
        
    }

    .banner-inside  {
        
        text-align: center;

    }
    h1 {
        transition: 0.5s;
        font-size: 3em;
        
    }

    h2 {
        transition: 0.5s;
        font-size: 1.7em;
        
    }
    h3 {
        transition: 0.5s;
        font-size: 1.2em;
        
    }

    h4{
        transition: 0.5s;
        font-size: 1em;
    }
    h5{
        transition: 0.5s;
        font-size: 0.8em;
    }
    p {
        transition: 0.5s;
        font-size: 0.6em;
    }
    .logo2{
        display: none;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        
       
    }
    .footer-partners img{
        width: 70px;
        height: 25px;
        
       
    }

    .footer-reseaux::after{

        content:"";
        display: block;
        height: 3px;
        background-size: 10px 100%;
        background-image: linear-gradient(#1E4084, #37D1F3);
        
        
        
    }

    .footer-partners{

        margin-top: 20px;
    }
    
}


@media (min-width: 768px) and (max-width: 991.98px) { 

    header .container .logo {
        transition: 0.5s;
        scale : 80%
    }

    .menu a {

        transition: 0.5s;
        font-size: 0.9em;
        font-weight: 500;
        margin: 0 10px;
        
    }

    h1 {
        transition: 0.5s;
        font-size: 3.5em;
        
    }

    h2 {
        transition: 0.5s;
        font-size: 2em;
        
    }
    h3 {
        transition: 0.5s;
        font-size: 1.5em;
        
    }
    h4{
        transition: 0.5s;
        font-size: 1.3em;
    }
    h5{
        transition: 0.5s;
        font-size: 1em;
    }
    p {
        transition: 0.5s;
        font-size: 0.7em;
    }

    .logo2{
        display: none;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        
       
    }
    .footer-partners img{
        width: 70px;
        height: 25px;
        
       
    }

    .footer-reseaux::after{

        content:"";
        display: block;
        height: 3px;
        background-size: 10px 100%;
        background-image: linear-gradient(#1E4084, #37D1F3);
        
        
        
    }

    .footer-partners{

        margin-top: 20px;
    }
    
}


@media (min-width: 992px) and (max-width: 1199.98px) { 

    header .container .logo {
        transition: 0.5s;
        scale : 90%
    }

    .menu a {

        transition: 0.5s;
        font-size: 1em;
        font-weight: 500;
        margin: 0 20px;
        
    }

    h1 {
        transition: 0.5s;
        font-size: 4em;
        
    }
    h2 {
        transition: 0.5s;
        font-size: 2.5em;
        
    }
    h3 {
        transition: 0.5s;
        font-size: 1.7em;
        
    }
    h4{
        transition: 0.5s;
        font-size: 1.5em;
    }
    h5{
        transition: 0.5s;
        font-size: 1.3em;
    }
    p {
        transition: 0.5s;
        font-size: 0.8em;
    }

    .logo2{
        display: none;
    }

    .footer-partners img{
        width: 70px;
        height: 25px;
    }

}


@media (min-width: 1200px) { 

    header .container .logo {
        transition: 0.5s;
        scale : 100%
    }

    .menu a {

        transition: 0.5s;
        font-size: 1.2em;
        font-weight: 500;
        margin: 0 20px;
        
    }

    h1 {
        transition: 0.5s;
        font-size: 5em;
        
    }
    h2 {
        transition: 0.5s;
        font-size: 3em;
        
    }
    h3 {
        transition: 0.5s;
        font-size: 2em;
        
    }

    h4{
        transition: 0.5s;
        font-size: 1.7em;
    }
    h5{
        transition: 0.5s;
        font-size: 1.5em;
    }
    p {
        transition: 0.5s;
        font-size: 1em;
    }

    .logo2{
        display: none;
    }

}


